<div class="container">
  <h1 class="h1 text-center mt-sm-1">{{'AddPostPage.Title' | translate}}</h1>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">{{'AddPostPage.PhotoInp' | translate}}</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01"
             aria-describedby="inputGroupFileAddon01" (change)="onSelectFile($event)" accept=".png, .jpeg, .jpg">
      <label class="custom-file-label" for="inputGroupFile01">{{fileName}}</label>
    </div>
  </div>
  <div class="text-center">
    <img [src]="url" #img class="img-fluid mt-sm-5" *ngIf="url" (load)="getExifData()">
  </div>
  <div class="mt-5 mb-5">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">{{'AddPostPage.PostName' | translate}}</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="addPostInfo.title_post" maxlength="100" required="required">
    </div>
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text">{{'AddPostPage.PostDesc' | translate}}</span>
      </div>
      <textarea class="form-control" id="exampleTextarea" rows="3"
                [(ngModel)]="addPostInfo.description_post" maxlength="500"></textarea>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{'AddPostPage.CameraInp' | translate}}</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.camera" maxlength="100">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{'AddPostPage.CameraLensInp' | translate}}</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.camera_lens" maxlength="100">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{'AddPostPage.IsoInp' | translate}}</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.iso" maxlength="10">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{'AddPostPage.ExpositionInp' | translate}}</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.exposition" maxlength="20">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{'AddPostPage.ApertureInp' | translate}}</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.aperture" maxlength="10">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{'AddPostPage.ProcessingInp' | translate}}</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.processing_photo" maxlength="150">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{'AddPostPage.CategoryInp' | translate}}</span>
          </div>
          <select class="form-control" [(ngModel)]="addPostInfo.postTypeId">
            <option [ngValue]="postType.NoType">{{'PostTypes.UnTyped' | translate}}</option>
            <option [ngValue]="postType.DeepSky">{{'PostTypes.DeepSky' | translate}}</option>
            <option [ngValue]="postType.SolarSystem">{{'PostTypes.SolarSys' | translate}}</option>
            <option [ngValue]="postType.LandScape">{{'PostTypes.LandScape' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <input type="button" class="btn btn-success text-uppercase form-control" value="загрузить" (click)="uploadPost()">
    </div>
    <div class="alert mt-4 mb-4 h4 text-center"
         [class.alert-success]="isSuccess"
         [class.alert-danger]="isError"
         *ngIf="isSuccess || isError">
      <p *ngIf="isSuccess">{{'AddPostPage.SuccessPublish' | translate}}</p>
      <p *ngIf="isError">{{'AddPostPage.ErrorPublish' | translate}}</p>
    </div>
  </div>

  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="large"
    color="#581f87"
    type="ball-pulse-sync"
    [fullScreen]="true"
    name="publishPost">
    <p style="color: white">{{'AddPostPage.SpinnerText' | translate}}</p>
  </ngx-spinner>

</div>
