<div class="container-fluid">
  <div class="search-results"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll()">
    <div class="text-center">
      <ngx-spinner
        bdColor = "rgba(0, 0, 0, 0.8)"
        size = "large"
        color = "#581f87"
        type = "ball-pulse-sync"
        [fullScreen] = "true"
        name="loadingPage">
        <p style="color: white" > {{'HomePage.SpinnerText' | translate}} </p>
      </ngx-spinner>
    </div>
    <div>
      <div class="row mt-2 text-center">
        <div class="col">
        <button class="btn btn-outline-dark mr-2" (click)="gePostByType(postType.NoType)">{{'PostTypes.AllPosts' | translate}}</button>
        <button class="btn btn-outline-dark mr-2" (click)="gePostByType(postType.DeepSky)">{{'PostTypes.DeepSky' | translate}}</button>
        <button class="btn btn-outline-dark mr-2" (click)="gePostByType(postType.SolarSystem)">{{'PostTypes.SolarSys' | translate}}</button>
        <button class="btn btn-outline-dark" (click)="gePostByType(postType.LandScape)">{{'PostTypes.LandScape' | translate}}</button>
        </div>
      </div>
      <hr>
    </div>
    <div class="row mt-2">
      <div class="col-xl col-lg col-md col-sm p-2" *ngFor="let post of allPosts">
        <app-card-post [data]="post" [cardType]="cardType" (onDeleted)="onDeleted(post.id)"></app-card-post>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-md-12 p-5">
      <ngx-spinner
        bdColor=""
        size="default"
        color="#581f87"
        type="ball-pulse-sync"
        [fullScreen]="false"></ngx-spinner>
    </div>
  </div>
</div>
