<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns="http://www.w3.org/1999/html" *ngIf="navService.visible">
  <a class="navbar-brand font-weight-bold" [routerLink]="['/']">Astro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['/']">{{'NavBar.MainBtn' | translate}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['/my-posts']" *ngIf="isLoggedIn">{{'NavBar.MyPostsBtn' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['/add-post']" *ngIf="isLoggedIn">{{'NavBar.AddPostBtn' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['/list-users']" *ngIf="isLoggedIn && isAdmin">{{'NavBar.AddModerBtn' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['/reports']" *ngIf="isLoggedIn && isAdmin">{{'NavBar.ReportsBtn' | translate}}</a>
      </li>
    </ul>
    <span class="navbar-text">
      <span class="select-lang" [ngClass]="{ 'selected-lang': this.locale === 'en' }" (click)="languageChange('en')">En</span>
      <span> / </span>
      <span class="select-lang mr-3" [ngClass]="{ 'selected-lang': this.locale === 'ru' }" (click)="languageChange('ru')">Ru</span>
      <span *ngIf="isLoggedIn" class="font-weight-bold mr-2 my-2 font-weight-bold">
        {{'NavBar.UserPrefix' | translate}}: <span class="user-info" [routerLink]="['/user-info']">{{authService.getUsername()}}</span></span>
      <button class="btn btn-outline-light my-2 my-sm-0 mr-sm-4 font-weight-bold" type="submit" [routerLink]="['/login']" *ngIf="!isLoggedIn">
        {{'NavBar.LogInBtn' | translate}}</button>
      <button class="btn btn-outline-light my-2 my-sm-0 font-weight-bold" type="submit" [routerLink]="['/register']" *ngIf="!isLoggedIn">
        {{'NavBar.RegBtn' | translate}}</button>
      <button class="btn btn-outline-light my-2 my-sm-0 font-weight-bold" type="submit" (click)="authService.logout()" *ngIf="isLoggedIn">
        {{'NavBar.LogOutBtn' | translate}}</button>
    </span>
  </div>
</nav>
