.user-info {
    border-bottom: 2px solid;
    cursor: pointer;
}

.user-info:hover {
    color: white;
}

.selected-lang {
    color: white;
    font-weight: bold;
}
.select-lang {
    cursor: pointer;
}