.like:hover {
  cursor: pointer;
}
.isLike {
  color: #ed1b24;
}

.container .inp-comment .form-control {
  height: auto;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.user-info {
  border-bottom: 2px solid;
  cursor: pointer;
}

.user-info:hover {
  color: gray;
}

.image {
  width: 1240px;
  height: 820px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

@media (max-width: 572px) {
  .rating-block {
    display: block;
  }

  .map {
    height: 300px;
  }

  .image {
    width: auto;
    height: auto;
  }
}