.like:hover {
  cursor: pointer;
}
.isLike {
  color: #ed1b24;
}

.container .inp-comment .form-control {
  height: auto;
}

.match-parent {
  width: 100%;
  height: 700px;
}

.user-info {
  border-bottom: 2px solid;
  cursor: pointer;
}

.user-info:hover {
  color: gray;
}