<div class="container">
  <h1 class="h1 text-center">{{'UsersListPage.Title' | translate}}</h1>
  <div class="row mt-5">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">{{'UsersListPage.Search' | translate}}</span>
        </div>
        <input type="text" class="form-control" placeholder="{{'UsersListPage.UsernameInp' | translate}}"
          (input)="searchUser($event)">
      </div>
    </div>
  </div>
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th>#</th>
        <th>{{'UsersListPage.Username' | translate}}</th>
        <th>{{'UsersListPage.Action' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users$ | slice: (page-1) * pageSize : page * pageSize">
        <th scope="row">{{item.id}}</th>
        <td>{{item.userName}}</td>
        <td *ngIf="item.roleId === roles.User"><button class="btn btn-outline-success"
            (click)="clickAddModer(item)">{{'UsersListPage.SetModerBtn' | translate}}</button></td>
        <td *ngIf="item.roleId === roles.Moderator"><button class="btn btn-outline-danger"
            (click)="clickDeleteModer(item)">{{'UsersListPage.DeleteMOderBtn' | translate}}</button></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
    [collectionSize]="users$.length"></ngb-pagination>
  <app-toast aria-live="polite" aria-atomic="true"></app-toast>
</div>