<div class="container">
  <h1 class="h1 text-center mt-sm-1">Редактировать публикацию</h1>
  <div class="text-center">
    <img [src]="url" #img class="img-fluid mt-sm-5" *ngIf="url">
  </div>
  <div class="mt-5 mb-5">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Название</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="postInfo.title_post" maxlength="100">
    </div>
    <div class="input-group mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Описание</span>
      </div>
      <textarea class="form-control" id="exampleTextarea" rows="{{countnewline}}" [(ngModel)]="postInfo.description_post" maxlength="500"></textarea>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Камера</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.camera" maxlength="100">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Объектив</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.camera_lens" maxlength="100">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">ISO</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.iso" maxlength="10">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Выдержка</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.exposition" maxlength="20">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Апертура камеры</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.aperture" maxlength="10">
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Обработка</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="photoParam.processing_photo" maxlength="150">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Выберите категорию</span>
          </div>
          <select class="form-control" [(ngModel)]="postInfo.postTypeId">
            <option [ngValue]="postType.NoType">Без категории</option>
            <option [ngValue]="postType.DeepSky">Глубокий космос</option>
            <option [ngValue]="postType.SolarSystem">Солнечная система</option>
            <option [ngValue]="postType.LandScape">Пейзаж</option>
          </select>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <input type="button" class="btn btn-success text-uppercase form-control" value="Сохранить изменения" (click)="UploadChanges()">
    </div>
    <div class="alert mt-4 mb-4 text-center h4" [class.alert-danger]="isError" *ngIf="isError">
      <p *ngIf="isError">Ошибка при обновлении публикации</p>
    </div>
  </div>
</div>
